

#blog{
    border-bottom: 1px solid rgb(192, 192, 192);
  }

  .tal a h1{
    font-family: 'Open Sans', sans-serif;
  }
  
  
  #blog h1{
      font-size: 220%;
      margin-top: 4%;
      text-align: center;
    }
  
    .blogs h3, h6{
      color: black;
      margin-top: 10%;
      font-family: 'Open Sans', sans-serif;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    .blogs h6{
      font-size: 80%;
    }
  
    #read{
      font-size: 70%;
      margin-bottom: -5%;
      color: greenyellow;
    }
  
    #name{
      font-size: 70%;
      border-top: 1px solid grey;
      padding-top: 5%;
      margin-top: 15%;
    }
  
  
    .blogs{
      width: 25%;
      height: 100%;
      box-shadow: 0 20px 40px rgba(4, 4, 4, 0.1);
      border-radius: 10px;
      transition: 400ms;
      margin-left: 7%;
      margin-top: 5%;
      padding-bottom: 1%;
    }
  
  
    .blogs:hover{
     border-radius: 50px;
     transition: 400ms;
     background-color: rgb(231, 231, 231);
     cursor: pointer;
    }
  
    .todosblogs{
      display: flex;
     margin-left: 10%;
     margin-right: 10%;
    }
  
     
  
   
  
    .ver{
    text-align: center;
    padding: 1%;
    padding-top: 2%;
    color: #Fe5301;
    width: 5%;
    text-align: center;
    margin-left: 48%;
    }
    #mais:hover{
        border-bottom: 1px solid #020240;
        cursor: pointer;
    }
  
    #menos{
      display: none;
    }
  
    #menos:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
  }

  
  
  
  .next{
      display: none
  }
  
  #mais2:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
  }
  
  #mais2{
      display: none;
  }
  
  #menos2{
    display: none;
  }
  
  #menos2:hover{
    border-bottom: 1px solid #020240;
    cursor: pointer;
  }
  

  #mais4:hover{
    border-bottom: 1px solid #020240;
    cursor: pointer;
}

#mais4{
    display: none;
}

#menos4{
  display: none;
}

#menos4:hover{
  border-bottom: 1px solid #020240;
  cursor: pointer;
}



#mais5:hover{
  border-bottom: 1px solid #020240;
  cursor: pointer;
}

#mais5{
  display: none;
}

#menos5{
display: none;
}

#menos5:hover{
border-bottom: 1px solid #020240;
cursor: pointer;
}
  
  
  .nexts{
      display: none;
  }

  .nextss{
    display: none;
}

.nextsss{
  display: none;
}

  
  #mais3:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
  }
  
  #mais3{
      display: none;
  }
  
  #menos3{
    display: none;
  }
  
  #menos3:hover{
    border-bottom: 1px solid #020240;
    cursor: pointer;
  }
  
  h5{
    font-family: 'Open Sans', sans-serif;
  }
  
  #blog1{
    display: none;
  }

  
  
  



  @media only screen and (max-width: 450px) and (min-width: 320px){
    .todosblogs{
      display: grid;
    }

    #blog{
      display: block;
      
    }

     .todosblogs{
      width: 96%;
      margin-bottom: 10%;
    } 
    .blogs{
      width: 90%;
      margin-left: -4%;
      margin-bottom: 5%;
    }


  }