

#blog{
    border-bottom: 1px solid rgb(192, 192, 192);
  }
  
  
  #blog h1{
      font-size: 220%;
      margin-top: 18%;
      text-align: center;
    }
  
    .blogs h3, h6{
      color: black;
      margin-top: 10%;
      font-family: 'Open Sans', sans-serif;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    .blogs h6{
      font-size: 80%;
    }
  
    #read{
      font-size: 70%;
      margin-bottom: -5%;
      color: greenyellow;
    }
  
    #name{
      font-size: 70%;
      border-top: 1px solid grey;
      padding-top: 5%;
      margin-top: 15%;
    }
  
  
    .blogs{
      width: 25%;
      height: 500px;
      box-shadow: 0 20px 40px rgba(4, 4, 4, 0.1);
      border-radius: 10px;
      transition: 400ms;
      margin-left: 7%;
      margin-top: 5%;
    }
  
  
    .blogs:hover{
     border-radius: 50px;
     transition: 400ms;
     background-color: rgb(231, 231, 231);
     cursor: pointer;
    }
  
    .todosblogs{
      display: flex;
     margin-left: 10%;
     margin-right: 10%;
    }
  
     
  
   
  
    .ver{
    text-align: center;
    padding: 1%;
    padding-top: 2%;
    color: #Fe5301;
    width: 5%;
    text-align: center;
    margin-left: 48%;
    }
    #mais:hover{
        border-bottom: 1px solid #020240;
        cursor: pointer;
    }
  
    #menos{
      display: none;
    }
  
    #menos:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
  }

  
  
  
  .next{
      display: none
  }
  
  #mais2:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
  }
  
  #mais2{
      display: none;
  }
  
  #menos2{
    display: none;
  }
  
  #menos2:hover{
    border-bottom: 1px solid #020240;
    cursor: pointer;
  }
  
  
  
  .nexts{
      display: none;
  }
  
  #mais3:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
  }
  
  #mais3{
      display: none;
  }
  
  #menos3{
    display: none;
  }
  
  #menos3:hover{
    border-bottom: 1px solid #020240;
    cursor: pointer;
  }
  
  h5{
    font-family: 'Open Sans', sans-serif;
  }
  
  #blog1{
    display: none;
  }
  
  @media only screen and (max-width: 450px) and (min-width: 330px){
  
      

    #blog1{
      border-bottom: 1px solid rgb(192, 192, 192);
      display: block;
    }
    
    
    #blog1 h1{
        font-size: 220%;
        margin-top: 18%;
        text-align: center;
      }
    
      .blogs1 h3, h6{
        color: black;
        margin-top: 10%;
        font-family: 'Open Sans', sans-serif;
        padding-left: 10%;
        padding-right: 10%;
      }
    
      .blogs1 h6{
        font-size: 80%;
      }
    
      #read1{
        font-size: 70%;
        margin-bottom: -5%;
        color: greenyellow;
      }
    
      .blogs{
        margin-left: 30%;
        width: 95%;
      }
      #name1{
        font-size: 70%;
        border-top: 1px solid grey;
        padding-top: 5%;
        margin-top: 15%;
      }
    
    
      .blogs1{
        width: 98%;
        height: 550px;
        box-shadow: 0 20px 40px rgba(4, 4, 4, 0.1);
        border-radius: 10px;
        transition: 400ms;
        margin-top: 10%;
      }
    
    
      .blogs1:hover{
       border-radius: 50px;
       transition: 400ms;
       background-color: rgb(231, 231, 231);
       cursor: pointer;
      }
    
      .todosblogs1{
       margin-left: 5%;
       margin-right: 5%;
      }
    
       .ver{
        margin-left: 47%;
       }
       
       #mais1, #menos1, #mais21, #menos21, #mais31, #menos31{

        margin-left: 180px;
       }
     
    
      .ver1{
      text-align: center;
      padding: 1%;
      padding-top: 2%;
      color: #Fe5301;
      width: 5%;
      }
      #mais1:hover{
          border-bottom: 1px solid #020240;
          cursor: pointer;
      }
    
      #menos1{
        display: none;
      }
    
      #menos1:hover{
        border-bottom: 1px solid #020240;
        cursor: pointer;
    }
    
    
    
    .next1{
        display: none
    }
    
    #mais21:hover{
        border-bottom: 1px solid #020240;
        cursor: pointer;
    }
    
    #mais21{
        display: none;
    }
    
    #menos21{
      display: none;
    }
    
    #menos21:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
    }
    
    h5{
      margin-left: 30%;
    }
    
    .nexts1{
        display: none;
    }
    
    #mais31:hover{
        border-bottom: 1px solid #020240;
        cursor: pointer;
    }
    
    #mais31{
        display: none;
    }
    
    #menos31{
      display: none;
    }
    
    #menos31:hover{
      border-bottom: 1px solid #020240;
      cursor: pointer;
    }
  
    #blog{
      display: none
    }
  }