
h1{
    font-family: 'Open Sans', sans-serif;
    color:#020240;
}

#clients h1{
    font-size: 180%;
    color:#020240;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 3%;
}

.nichos{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#Fe5301;
    margin-top: 5%;
    transition: 500ms;
}

.nichos p:hover{
    transition: 100ms;
    border-bottom: 1px solid #Fe5301;
    cursor: pointer;
    
}

.common:hover{
    border-bottom: 1px solid #Fe5301;
    padding-bottom: 2px;
    cursor: pointer;
}

#nichos{
    text-align: center;
    margin-top: 15px;
    padding: 1%;
}

.alt img{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
   
}

.alt{
    text-align: center;
}
.common h2{
    font-size: 20px;
    padding-left: 6px;
    margin-top: -1px;
}

.nichos{
    margin-top: 40px;
}

#nicho_a, #nicho_b,  #nicho_c,  #nicho_d, #nicho_e, #nicho_f, #nicho_g, #nicho_h, #nicho_i, #nicho_j, #nicho_k{
    text-align: center;
    margin-top: 5%;
    display: block;
}

#nicho_a{
    display: none
}

#nicho_b{
    display: none;
}

#nicho_c{
    display: none;
}

#nicho_d{
    display: none
}

#nicho_e{
    display: none
}

#nicho_f{
    display: none
}

#nicho_g{
    display: none;
}

#nicho_h{
    display: none;
}

#nicho_i{
    display: none;
}

#nicho_j{
    display: none;
}

#nicho_k{
    display: none;
}

#nicho_a img, #nicho_b img, #nicho_c img, #nicho_d img,  #nicho_e img,  #nicho_f img, #nichos img{
    padding-left: 3%;
    padding-right: 3%;
}

#nicho_g img, #nicho_h img, #nicho_i img, #nicho_j img, #nicho_k img{
    padding-left: 3%;
    padding-right: 3%;
}



#down, #up{
    display: none;
}


@media only screen and (max-width: 450px) and (min-width: 330px){
    
    .nichos h2{
        font-size: 90%;
    }

    .nichos img{
        display: none;
    }

    .nichos{
        display: grid;
        margin-top: 10px;
    }

    .nichos p{
        padding-top: 10%;
        padding-bottom: 10%;
        border-bottom: 1px solid #Fe5301;
    }

    

    #down{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        margin-left: 68%;
        margin-top: 4%;
    }

    #up{
        display: none;
        position: absolute;
        width: 30px;
        height: 30px;
        margin-left: 70%;
        margin-top: 4%;
    }

    #nichob,  #nichoc,  #nichod, #nichoe, #nichof, #nichog, #nichoh, #nichoi, #nichoj, #nichok{
        display: none;
    }

}